@model IList<EmailNotify.Models.Receiver>

@{
    ViewData["Title"] = "Send notifications";
}

<h1>Send notifications</h1>
<br />
@using (Html.BeginForm("Index", "Notifications", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Select
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model)*@
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.TextBoxFor(m => Model[i].Id)
                    </td>
                    <td class="dimTxtBox">
                        @Html.TextBoxFor(m => Model[i].Email)
                    </td>
                    <td class="dimTxtBox">
                        @Html.TextBoxFor(m => Model[i].Name)
                    </td>
                    <td>
                        <a asp-action="Notify" asp-route-id="@Model[i].Id">Notify</a>
                    </td>
                    <td>
                        @Html.CheckBoxFor(c => Model[i].Checked)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Notify selected" />
}
